.name
{
    color: purple;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke: 1px;
-webkit-text-stroke-color: rgb(0, 0, 0);

}


p{
  color: red;
  font-size: 32px;
  font-family: Georgia,  serif;
  font: bold;
  font-style: oblique;
  
}

header
{
   border-bottom: 10px solid black; 
    background-image: url("../img/effet4.jpg");
    background-size: cover;
    
    
}


.dropbtn {
    background-color: #fafffd;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  
  .dropdown:hover .dropdown-content {display: block;}
  
 
  .dropdown:hover .dropbtn {background-color: #524d4d;}